<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Contacts</title>
        <link href=<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="public/css/styles_contact.css"> 
    </head>
    <body>
            <div class="grid-container-contacts">  
                <div class="nav-link-part-contacts">
                    <a href="index.html">Home</a>
                </div>
                <div class = container-of-rest>
                    <form method="POST" action="send" >
                        <div class = phone-email>
                            <p>For contacting me fill the form or call me: +48532198854</p>
                            {{msg}}
                        </div>
                        <div class="form-group">
                            <label for="inputCompany">Company name*: </label>
                            <input type="text" name="company" id="inputCompany">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Your name*:</label>
                            <input type="text" name="name" id="inputName">
                        </div>
                        <div class="form-group">
                            <label for="emailName">Your e-mail*:</label>
                            <input type="text" name="email" id="emailName">
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Your phone*:</label>
                            <input type="text" name="phone" id="inputPhone">
                        </div>
                        <div class="form-group">
                            <label for="inputMessage">Your message*:</label>
                            <textarea id="subject" name="message" placeholder="Write something.." style="height:100px"></textarea>
                        </div>
                        <br>
                        <button type="submit">Submit</button>
                    </form>
                    <div class = contacts>
                        <div class="title-contacts">
                            <h1>Social Media</h1>
                        </div>
                        <div class = contacts-linkedin>
                            <a href="https://www.facebook.com/Kubson.kk">LinkedIn</a>    
                        </div>
                        <br>
                        <div class = contacts-facebook>
                            <a href="https://www.facebook.com/Kubson.kk">Facebook</a>  
                        </div>
                        <br>
                        <div class = contacts-instagram>
                            <a href="https://www.facebook.com/Kubson.kk">Instagram</a> 
                        </div>
                    </div>
                </div>
                <footer>
                    <p>Stawo&copy; 2020</p>
                </footer>
            </div>
 
</body>
</html>